body {
  margin: 0;
}

.le {
  background: rgb(0,114,147);
  background: radial-gradient(circle, rgba(0,86,122,1) 0%, rgba(0,68,97,1) 100%);
  min-height: 100vh;
}

.le-container {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  height: 100vh;
}

svg {
  max-height: 25vh;
  filter:drop-shadow(0 0 4px rgba(0,0,0,.25));
}

@media screen and (max-width: 1023px) {
  svg {
    height: 700px;
  }
}
